@charset "UTF-8";

:root {
    --color1:  #7aba51;
    --color2:  #48872a;
    --color3:  #8cbcd4;
    --color4:  #062206;
    --color5:  #84bb95;
    --color6:  #1b5f0d;
    --color7:  #1b2d6f;
    --color8:  #4d952b;
    --color9:  #508f7e;
    --color10: #29414b;
}

/* Reseta estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

/* Corpo da página */
body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
}

/* Formulários */
.form-container-regis {
   display: flex;
   width: 450px;
   height: 650px;
   border: 3px solid rgba(0, 0, 0, 0.2);
   border-radius: 30px;
   backdrop-filter: blur(20px);
}

.form-container {
    display: flex;
    width: 450px;
    height: 500px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    backdrop-filter: blur(20px);
 }

.form-col{
    position: relative;
    width: 100%;
}

.btn-box{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}
.home-btn{
    align-items: center;
    margin: 10px 20px;
    transition: 0.3s;
    
}
.home-btn a{
    color: rgb(40, 128, 112);
    display: inline-block;
    
}
.home-btn:hover{
    transform: scale(1.05);
}
.btn{
    font-weight: 500;
    padding: 8px 30px;
    border: none;
    border-radius: 30px;
    background-color: #8cbcd4;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .2s;
}

.btn-1{
    background: #1b2d6f;
}
.btn:hover{
    opacity: 0.85;
}

.form-box{
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    transition: .3s;
}

.form-title {
    margin: 30px 0;
    color: var(--color1);
    font-size: 28px;
    font-weight: 600;
}

.sign-form{
    left: 50%;
}

.login-form{
    left: 50%
}

.form-inputs{
    width: 100%;
}
.input-box{
    position: relative;
}
.inputs{
    width: 100%;
    height: 55px;
    margin: 8px 0;
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.input-field{
    font-size: 16px;
    padding: 0 40px 0 20px;
    background: #1b2d6f3f;
    outline: none;
    backdrop-filter: blur(20px);
}

::placeholder{
    color: white;
    font-size: 16px;
}

.input-box .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: var(--color1);
    width: 17px;
    height: 17px;
}
.has-account, .remeber-me, .forgot-pass {
    display: flex;
    justify-content: right;
    gap: 5px;
}

.has-account a, .forgot-pass a{
    color: green;
    text-decoration: none;
    font-size: 14px;
}

.has-account a:hover, .forgot-pass a:hover{
    text-decoration: underline;
}

.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #29414b;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover{
    gap:15px;
}

/* 
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea,
form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--color4);
    border-radius: 4px;
}

form button {
    background: var(--color6);
    color: var(--color1);
    font-weight: bold;
    border: 2px solid var(--color4);
    cursor: pointer;
    transition: all 0.4s;
}

form button:hover {
    background: var(--color1);
    color: var(--color10);
    border: 2px solid var(--color7);
}

/* Rodapé */
footer {
    background: var(--color10);
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: auto;
}

footer p {
    font-size: 0.9em;
} */

/* Links gerais */
a {
    color: var(--color1);
    text-decoration: none;
}
