@charset "UTF-8";
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de cores */
:root {
    --bg-color: #1e2124; /* Fundo geral */
    --card-color-light: #a2ea61; /* Cards claros */
    --card-color-dark: #2e5d53; /* Cards escuros */
    --text-color-light: #ffffff; /* Texto claro */
    --text-color-dark: #2e3135; /* Texto escuro */
    --shadow-color: rgba(0, 0, 0, 0.15);
    --border-radius: 12px;
    --font-primary: 'Arial', sans-serif;
}

/* Estilo Global */
body {
    font-family: var(--font-primary);
    background-color: var(--bg-color);
    color: var(--text-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    line-height: 1.5;
    background: linear-gradient(to bottom, #0a4407, #012608);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

nav a {
    color: var(--text-color-light);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: var(--card-color-dark);
    color: var(--text-color-light);
}

.container {
    display: flex;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.section h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--text-color-light);
    border-bottom: 2px solid var(--card-color-light);
    padding-bottom: 0.5rem;
}

.item {
    background-color: var(--card-color-light);
    color: var(--text-color-dark);
    padding: 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px var(--shadow-color);
}

button {
    padding: 0.7rem;
    border: none;
    background-color: var(--card-color-dark);
    color: var(--text-color-light);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #555; /* Cor mais escura quando o botão está desabilitado */
    cursor: not-allowed;
}

button:hover {
    background-color: var(--card-color-light);
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .section h2 {
        font-size: 1.25rem; /* Ajusta o tamanho do título */
    }
}
